.Entete {
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  font-size: 0.85rem;
  .logo {
    font-size: 1.4rem;
  }

  & > * {
    display: flex;
    padding: 0 1.25rem;
  }

  .utilisateur {
    align-items: center;
    cursor: pointer;
    .avatar {
      margin-left: 1.25rem;
      width: 2rem;
      height: 2rem;
    }
  }
}